### 拥有表：
* 用户表（微信id，用户名，用户性别，用户所在地区）
* 通讯录（好友信息id，用户1微信id，用户2微信id）
* 群聊（群聊id，群主id，群聊名字，群聊创建时间）
* 群成员信息（群成员信息id，群聊id，群成员id，群成员的群昵称，加群方式，邀请人）
* 朋友圈（消息id，发送者id，发送时间，发送内容）
* 点赞评论信息（点赞评论的消息id，点赞或者评论的用户id，评论方式，评论内容）
* 好友聊天记录（消息id，发送者id，接收者id，发送时间，发送内容）
* 群聊记录（消息id，群聊id，发送者id，发送时间，发送内容）

对应的表如下：
* 用户表:wechat_user(u_id, u_name, u_gender, u_region)    
* 通讯录:wechat_contacts(contacts_id, contacts_u1_id, contacts_u2_id)
* 群聊:wechat_group_chats(gc_id, gc_manager_id, gc_name, gc_create_time)
* 群成员信息:wechat_group_member(gm_id, gm_group_id, gm_member_id, gm_name, gm_invited_way, gm_inviter_id) 
* 朋友圈:wechat_moments(m_id, m_sender_id, m_send_time, m_content) 
* 点赞评论信息:wechat_comments_for_moments(c_id, c_m_id, c_user_id, c_type, c_content) 
* 好友聊天记录:wechat_friend_chat_history(fch_id, fch_sender_id, fch_receiver_i, fch_time, fch_content)
* 群聊记录:wechat_group_chat_history(gch_id, gch_group_id, gch_sender_id, gch_time, gch_content)

#### 其他说明
* 加群的邀请人id(gm_inviter_id)在加群方式是扫码加入时，设置为空值
* 点赞评论内容(c_content)在评论类型是点赞是，设置为空值
* 在通讯录表中设置好友关系id，以及在有关消息记录表中设置消息id，作为主键方便索引

工作：
* 定义数据和建表操作
* 各种类型的插入数据和测试

In [1]:
! pip install ipython-sql

%load_ext sql

import pymysql 
pymysql.install_as_MySQLdb()

%sql mysql+pymysql://root:my-secret-pw@localhost
%sql create database if not exists students
%sql mysql+pymysql://root:my-secret-pw@localhost/students

/usr/bin/sh: 1: pip: not found
 * mysql+pymysql://root:***@localhost
1 rows affected.

In [2]:
%sql show tables

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
3 rows affected.

[('course',), ('student',), ('wechat_user',)]

In [3]:
%%sql
/*仿照银行案例的建表方法，取消外键约束检查后在建表*/
set @@foreign_key_checks=0;

#创建用户表 
# id需要手动设置，
# 原因是类似于用户知晓自己的微信号，
# 因此实习时，简化为用户可以使用自己的微信id
# 查找自己需要的信息
drop table if exists wechat_user;

CREATE TABLE wechat_user
(
    u_id BIGINT PRIMARY KEY ,
    u_name VARCHAR(64) NOT NULL,
    u_gender ENUM ('M', 'F') NOT NULL,
    u_region VARCHAR(64) NOT NULL
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [4]:
%%sql
set @@foreign_key_checks=0;

#创建通讯录表 id自加
# 表项存储原则：对于用户id1，id2，id1<id2,两者是好友，那么通讯录中只存有元组(id1,id2) 
drop table if exists wechat_contacts;

CREATE TABLE wechat_contacts
(
    contacts_id BIGINT PRIMARY KEY AUTO_INCREMENT,# 自增
    contacts_u1_id BIGINT NOT NULL,
    contacts_u2_id BIGINT NOT NULL
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
set @@foreign_key_checks=0;

#创建群聊表 id自加
#创建时间默认为当前时间
drop table if exists wechat_group_chats;

CREATE TABLE wechat_group_chats
(
    gc_id BIGINT PRIMARY KEY AUTO_INCREMENT,#自增
    gc_manager_id BIGINT NOT NULL,
    gc_name VARCHAR(64) NOT NULL,
    gc_create_time TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP#默认当前时间
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql
set @@foreign_key_checks=0;

#创建群成员信息表 id自加
#主键只是为了方便索引建立
drop table if exists wechat_group_member;

CREATE TABLE wechat_group_member
(
    gm_id BIGINT PRIMARY KEY AUTO_INCREMENT,#自增
    gm_group_id BIGINT NOT NULL,
    gm_member_id BIGINT NOT NULL,
    gm_name VARCHAR(64) NOT NULL,
    gm_invited_way ENUM('ScanQR','Invited') NOT NULL,#是扫码方式入群还是被邀请
    gm_inviter_id BIGINT DEFAULT 0 #可以为null #默认0 null或0是就表示扫码进入方式，此时逻辑上不会使用该字段
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
set @@foreign_key_checks=0;

#创建朋友圈 id自加
drop table if exists wechat_moments;
 
CREATE TABLE wechat_moments
(
    m_id BIGINT PRIMARY KEY AUTO_INCREMENT,
    m_sender_id BIGINT NOT NULL,
    m_send_time TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    m_content VARCHAR(256) NOT NULL
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql
set @@foreign_key_checks=0;

#创建点赞评论信息表 id自加
drop table if exists wechat_comments_for_moments;
 
CREATE TABLE wechat_comments_for_moments
(
    c_id BIGINT PRIMARY KEY AUTO_INCREMENT,
    c_m_id BIGINT NOT NULL,
    c_user_id BIGINT NOT NULL,#评论人的id
    c_type ENUM('like','comment') NOT NULL DEFAULT 'like',
    c_content VARCHAR(128)  #点赞时，该列为空值
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql
set @@foreign_key_checks=0;

#创建好友聊天记录表 id自加
#聊天记录都是以每条作为一个元组
drop table if exists wechat_friend_chat_history;
 
CREATE TABLE wechat_friend_chat_history
(
    fch_id BIGINT PRIMARY KEY AUTO_INCREMENT,
    fch_sender_id BIGINT NOT NULL,
    fch_receiver_id BIGINT NOT NULL,
    fch_time TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    fch_content VARCHAR(128) NOT NULL  #一条聊天记录的内容
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [10]:
%%sql
set @@foreign_key_checks=0;

#创建好友群聊聊天记录表 id自加
#聊天记录都是以每条作为一个元组
drop table if exists wechat_group_chat_history;
 
CREATE TABLE wechat_group_chat_history
(
    gch_id BIGINT PRIMARY KEY AUTO_INCREMENT,
    gch_group_id BIGINT NOT NULL,
    fch_sender_id BIGINT NOT NULL,
    gch_time TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    gch_content VARCHAR(128) NOT NULL  #一条聊天记录的内容
);

set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql
#/*对表添加必要的外键约束和其他约束条件*/

# 对于用户表和通讯录，当某位好友注销账号后，好友关系应当消失，
# 但是通讯录中只存有一个元组不添加外键约束
# 对于群主和群的关系，由于群主非正常退出群后，群主顺延到后一个进群的用户，所以不建立外键约束

# 群和群成员的联系，当群解散后，就不存在该群的群成员关系，因此建立外键约束
ALTER TABLE wechat_group_member ADD CONSTRAINT fk_gm_group_id FOREIGN KEY (gm_group_id) REFERENCES wechat_group_chats(gc_id) ON DELETE CASCADE;

# 同理，朋友圈消息和点赞评论消息存在外键联系
ALTER TABLE wechat_comments_for_moments ADD CONSTRAINT fk_c_m_id FOREIGN KEY (c_m_id) REFERENCES wechat_moments(m_id) ON DELETE CASCADE;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.
0 rows affected.

[]

In [12]:
%%sql

#插入

#wechat_user
SET NAMES UTF
INSERT INTO wechat_user(u_id,u_name,u_gender, u_region) VALUES (1,'张一','M','北京');
INSERT INTO wechat_user(u_id,u_name,u_gender, u_region) VALUES (2,'张二','F','上海');
INSERT INTO wechat_user(u_id,u_name,u_gender, u_region) VALUES (3,'张三','F','上海');
INSERT INTO wechat_user(u_id,u_name,u_gender, u_region) VALUES (4,'张四','M','上海');

# wechat_contacts 需要保证用户id在用户表中
# contacts_id自增
INSERT INTO wechat_contacts(contacts_u1_id, contacts_u2_id) VALUES (1,2);
INSERT INTO wechat_contacts(contacts_u1_id, contacts_u2_id) VALUES (1,3);
INSERT INTO wechat_contacts(contacts_u1_id, contacts_u2_id) VALUES (1,4);
INSERT INTO wechat_contacts(contacts_u1_id, contacts_u2_id) VALUES (2,4);


# wechat_group_chats 群主需要在用户表中
# 群id自增也可自己设置，从1开始增加，群建立时间默认是当前时间，也可以自己设置
INSERT INTO wechat_group_chats (gc_id,gc_manager_id, gc_name) VALUES (11,1,'水群1');
INSERT INTO wechat_group_chats (gc_id,gc_manager_id, gc_name) VALUES (12,2,'水群2');


# wechat_group_member
# 群成员
# gm_id自增
INSERT INTO wechat_group_member(gm_group_id, gm_member_id, gm_name, gm_invited_way) VALUES (11,1,'张水一','ScanQR');
INSERT INTO wechat_group_member(gm_group_id, gm_member_id, gm_name, gm_invited_way) VALUES (11,2,'张水二','ScanQR');
INSERT INTO wechat_group_member(gm_group_id, gm_member_id, gm_name, gm_invited_way) VALUES (11,3,'张水三','ScanQR');
INSERT INTO wechat_group_member(gm_group_id, gm_member_id, gm_name, gm_invited_way, gm_inviter_id) VALUES (11,4,'张水四','Invited',2);
INSERT INTO wechat_group_member(gm_group_id, gm_member_id, gm_name, gm_invited_way) VALUES (12,2,'张水二','ScanQR');


# wechat_moments
# m_id 自增 发送时间默认当前

#张一 发送了一条hello的朋友圈消息
INSERT INTO wechat_moments(m_sender_id, m_content) VALUES (1,'hello! Everybody!');


# wechat_commments_for_moments
# c_id自增 c_type只有like comment两种

# 张二点了个赞 c_m_id是朋友圈消息id ，c_user_id就是张二
INSERT INTO wechat_comments_for_moments(c_m_id,c_user_id,c_type) VALUES (1,2,'like');
INSERT INTO wechat_comments_for_moments(c_m_id,c_user_id,c_type) VALUES (1,3,'like');
INSERT INTO wechat_comments_for_moments(c_m_id,c_user_id,c_type) VALUES (1,4,'like');
INSERT INTO wechat_comments_for_moments(c_m_id,c_user_id,c_type,c_content) VALUES (1,2,'comment','hello! Nice to meet you!');


#wechat_friend_chat_history 好友聊天记录
INSERT INTO wechat_friend_chat_history(fch_id,fch_sender_id,fch_receiver_id,fch_content) VALUES(31,1,2,'Are you OK,ZhangEr?');
INSERT INTO wechat_friend_chat_history(fch_id,fch_sender_id,fch_receiver_id,fch_content) VALUES(32,2,1,'I am OK.');
INSERT INTO wechat_friend_chat_history(fch_id,fch_sender_id,fch_receiver_id,fch_content) VALUES(33,1,3,'Are you OK,ZhangSan?');
INSERT INTO wechat_friend_chat_history(fch_id,fch_sender_id,fch_receiver_id,fch_content) VALUES(34,3,1,'I am OK.');

#wechat_group_chat_history 群聊记录
INSERT INTO wechat_group_chat_history(gch_group_id,fch_sender_id,gch_content) VALUES(11,1,'We can chat in this group.');
INSERT INTO wechat_group_chat_history(gch_group_id,fch_sender_id,gch_content) VALUES(11,2,'Hello. I am ZhangEr.');
INSERT INTO wechat_group_chat_history(gch_group_id,fch_sender_id,gch_content) VALUES(11,3,'Hello. I am ZhangSan.');
INSERT INTO wechat_group_chat_history(gch_group_id,fch_sender_id,gch_content) VALUES(11,4,'Hello. I am ZhangSi.');
INSERT INTO wechat_group_chat_history(gch_group_id,fch_sender_id,gch_content) VALUES(12,2,'We can chat in this group.');

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [13]:
# 查询数据

#1.单表查询

# 查询用户基本信息，建立用户微信id和名字表
%sql SELECT u_id, u_name FROM wechat_user;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
4 rows affected.

[(1, '张一'), (2, '张二'), (3, '张三'), (4, '张四')]

In [14]:
# 查询所有群信息，需要列出群的创建时间并按创建时间降序排列
%sql SELECT gc_id, gc_name, gc_create_time FROM wechat_group_chats ORDER BY gc_create_time desc;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
2 rows affected.

[(11, '水群1', datetime.datetime(2022, 9, 9, 12, 26, 20)),
 (12, '水群2', datetime.datetime(2022, 9, 9, 12, 26, 20))]

In [15]:
#2.条件查询

# 查询地区在北京的用户的用户id和用户名字
%sql SELECT u_id, u_name FROM wechat_user WHERE u_region='北京';

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
1 rows affected.

[(1, '张一')]

In [16]:
%sql SELECT * FROM wechat_contacts;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
4 rows affected.

[(1, 1, 2), (2, 1, 3), (3, 1, 4), (4, 2, 4)]

In [17]:
%sql SELECT contacts_u2_id FROM wechat_contacts WHERE contacts_u1_id=1 
#%sql SELECT contacts_u1_id FROM wechat_contacts WHERE contacts_u2_id=1

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
3 rows affected.

[(2,), (3,), (4,)]

In [18]:
# 查询用户微信id=1的所有好友，返回名字
# 由于存储格式问题,对于任何一个id=x,在wechat_contacts表中，
#除了寻找contacts_u1_id=x之外
# 还需要寻找contacts_u2_id=x的对应表项
# 即首先找到id=x的用户中好友id大于x的用户
# 然后找到id=x的用户中好友id小于x的用户
query="""
    with TMP as
    (
        select contacts_u2_id user_id
        from wechat_contacts
        where contacts_u1_id=1
        union
        select contacts_u1_id
        from wechat_contacts
        where contacts_u2_id=1
    )
    select   TMP.user_id,U.u_name
    from TMP inner join wechat_user U on TMP.user_id=U.u_id; 
"""
#先选出用户微信id=1所有的好友的微信id，然后和用户表做自然连接，选出id和名字

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
3 rows affected.

[(2, '张二'), (3, '张三'), (4, '张四')]

In [19]:
# 查询所有在 2018-01-01 00:00:01之前创建的群聊的id 名字
%sql SELECT gc_id, gc_name FROM wechat_group_chats WHERE gc_create_time<'2024-01-01 00:00:01';

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
2 rows affected.

[(11, '水群1'), (12, '水群2')]

In [20]:
# 列出用户（id=1）在2022-5-1发送的所有朋友圈消息id 和消息内容
%sql SELECT m_id, m_content FROM wechat_moments WHERE m_sender_id=1 AND (m_send_time BETWEEN '2022-05-14 00:00:00' AND '2022-05-16 00:00:00');

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
0 rows affected.

[]

In [21]:
# 列出群id=1的所有消息记录的消息id、发送人id和内容
%sql SELECT gch_id, gch_sender_id, gch_content FROM wechat_group_chat_history WHERE gch_group_id=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
(pymysql.err.OperationalError) (1054, "Unknown column 'gch_sender_id' in 'field list'")
[SQL: SELECT gch_id, gch_sender_id, gch_content FROM wechat_group_chat_history WHERE gch_group_id=1;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
#3. 聚合查询
# 查询用户表中的用户数量
%sql SELECT count(*) FROM wechat_user;

# 查询群数量
#%sql SELECT count(*) FROM wechat_group_chats;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
1 rows affected.

[(4,)]

In [23]:
#4.连接查询

# 查询所有在群（群id=1）中的群成员的用户名字（非群昵称）
# 半连接
query="""
    SELECT u_name
    FROM wechat_user
    WHERE EXISTS 
        (
            SELECT *
            FROM wechat_group_member GM
            WHERE GM.gm_group_id=1
            AND GM.gm_member_id=wechat_user.u_id
        )
"""

In [24]:
# 查询用户（id=1）和其好友用户（id=2）的所有聊天记录，
# 返回发送者id、发送者名字、发送时间和发送内容

#先找到所有聊天记录
#然后自然连接获取id对应的用户名
query="""
    with TMP as
    (
        SELECT fch_sender_id, fch_time, fch_content
        FROM wechat_friend_chat_history
        WHERE (fch_sender_id=1 AND fch_receiver_id=2) OR 
                (fch_sender_id=2 AND fch_receiver_id=1)
    )
    SELECT U.u_id, U.u_name, TMP.fch_time, TMP.fch_content
    FROM wechat_user U natural join TMP
    ORDER BY TMP.fch_time;
"""
%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
8 rows affected.

[(1, '张一', datetime.datetime(2022, 9, 9, 12, 26, 20), 'I am OK.'),
 (1, '张一', datetime.datetime(2022, 9, 9, 12, 26, 20), 'Are you OK,ZhangEr?'),
 (2, '张二', datetime.datetime(2022, 9, 9, 12, 26, 20), 'I am OK.'),
 (2, '张二', datetime.datetime(2022, 9, 9, 12, 26, 20), 'Are you OK,ZhangEr?'),
 (3, '张三', datetime.datetime(2022, 9, 9, 12, 26, 20), 'I am OK.'),
 (3, '张三', datetime.datetime(2022, 9, 9, 12, 26, 20), 'Are you OK,ZhangEr?'),
 (4, '张四', datetime.datetime(2022, 9, 9, 12, 26, 20), 'I am OK.'),
 (4, '张四', datetime.datetime(2022, 9, 9, 12, 26, 20), 'Are you OK,ZhangEr?')]

In [25]:
#5.子查询
# 定义大群为群成员数量大于平均群成员数量的群
# 选出群是大群的群
# 返回群id、名字和对应群的群主id

#先利用视图记录每个群的群成员数量
#然后求平均值
#子查询找到那些成员数量大于平均值的群
query="""
     with TMP as
    (
        SELECT gm_group_id g_id, count(*) gm_num
        FROM wechat_group_member
        GROUP BY gm_group_id
    )
    SELECT TMP.g_id, GC.gc_name, GC.gc_manager_id
    FROM wechat_group_chats GC,TMP
    WHERE TMP.gm_num>(SELECT avg(gm_num) FROM TMP) AND TMP.g_id=GC.gc_id
"""
%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
1 rows affected.

[(11, '水群1', 1)]

In [26]:
# 6. group by having
# 查询用户（id=1）所发的朋友圈消息，每条消息统计点赞数和评论数量

# 取出用户所发的朋友圈消息
# 取出对应消息id的的点赞和评论计数
# 按照消息id进行group by，同时having条件是只取出该用户发送的朋友圈消息

query="""
    with 
    TMP_M as
    (
        SELECT m_id, m_send_time,m_content
        FROM wechat_moments
        WHERE m_sender_id=1
    )
    SELECT CM.c_m_id, count(CM.c_type='like') c_likes, count(CM.c_type='comment') c_comments
    FROM wechat_comments_for_moments CM,TMP_M
    WHERE CM.c_m_id=TMP_M.m_id
    GROUP BY CM.c_m_id
"""
%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
1 rows affected.

[(1, 4, 4)]

In [27]:
#7. 视图

# 查询用户（id=1）所在的群
%sql CREATE VIEW v_id1_group as(SELECT gm_group_id g_id FROM wehchat_group_member WHERE gm_member_id=1);

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
(pymysql.err.ProgrammingError) (1146, "Table 'students.wehchat_group_member' doesn't exist")
[SQL: CREATE VIEW v_id1_group as(SELECT gm_group_id g_id FROM wehchat_group_member WHERE gm_member_id=1);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [28]:
#视图查询
%sql SELECT * FROM v_id1_group;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
(pymysql.err.ProgrammingError) (1146, "Table 'students.v_id1_group' doesn't exist")
[SQL: SELECT * FROM v_id1_group;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [29]:
#视图修改 ，添加上群名字和群主id
query="""
    CREATE OR REPLACE VIEW v_id1_group as
    (
        SELECT V.g_id, GC.gc_name, GC.gc_manager_id
        FROM wechat_group_chats GC natural join v_id1_group V on V.g_id=GC.gc_id
    )
"""
%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'on V.g_id=GC.gc_id )' at line 1")
[SQL: CREATE OR REPLACE VIEW v_id1_group as ( SELECT V.g_id, GC.gc_name, GC.gc_manager_id FROM wechat_group_chats GC natural join v_id1_group V on V.g_id=GC.gc_id )]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [30]:
%sql SELECT * FROM v_id1_group;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
(pymysql.err.ProgrammingError) (1146, "Table 'students.v_id1_group' doesn't exist")
[SQL: SELECT * FROM v_id1_group;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [31]:
#删除视图
%sql DROP VIEW v_id1_group;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
(pymysql.err.OperationalError) (1051, "Unknown table 'students.v_id1_group'")
[SQL: DROP VIEW v_id1_group;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [32]:
#删除表里的行
%sql DELETE FROM wechat_friend_chat_history WHERE fch_sender_id=1;
%sql SELECT * FROM wechat_friend_chat_history

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
2 rows affected.
   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
2 rows affected.

[(32, 2, 1, datetime.datetime(2022, 9, 9, 12, 26, 20), 'I am OK.'),
 (34, 3, 1, datetime.datetime(2022, 9, 9, 12, 26, 20), 'I am OK.')]

In [33]:
#删除表里的行
%sql REPLACE INTO wechat_user VALUES (2,'张二','F','北京');
%sql SELECT * FROM wechat_user

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
2 rows affected.
   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/students
4 rows affected.

[(1, '张一', 'M', '北京'),
 (2, '张二', 'F', '北京'),
 (3, '张三', 'F', '上海'),
 (4, '张四', 'M', '上海')]