In [1]:
import sqlite3

# Create a SQL connection to our SQLite database
connection = sqlite3.connect('./latest.db')

cursor = connection.cursor()

# here is you table list
print("Method 1 to show all table names:")
table_list = [a for a in cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
print(table_list)

# The result of a "cursor.execute" can be iterated over by row
print("Method 2 to show all table names:")
for row in cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table'"):
    print(row)

print("Method 3 to show all table names:")
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
print(cursor.fetchall())

# Be sure to close the connection
cursor.close()
connection.close()

Method 1 to show all table names:
[('ADDRESSES',), ('ADDR_BELONGS_DATA',), ('ADDR_CODES',), ('ADDR_PLACE_DATA',), ('ADDR_XY',), ('ALTNAME_CODES',), ('ALTNAME_DATA',), ('APPOINTMENT_TYPE_CODES',), ('ASSOC_CODES',), ('ASSOC_CODE_TYPE_REL',), ('ASSOC_DATA',), ('ASSOC_TYPES',), ('ASSUME_OFFICE_CODES',), ('BIOG_ADDR_CODES',), ('BIOG_ADDR_DATA',), ('BIOG_INST_CODES',), ('BIOG_INST_DATA',), ('BIOG_MAIN',), ('BIOG_SOURCE_DATA',), ('BIOG_TEXT_DATA',), ('CHORONYM_CODES',), ('CopyMissingTables',), ('CopyTables',), ('CopyTablesDefault',), ('COUNTRY_CODES',), ('DATABASE_LINK_CODES',), ('DATABASE_LINK_DATA',), ('DYNASTIES',), ('ENTRY_CODES',), ('ENTRY_CODE_TYPE_REL',), ('ENTRY_DATA',), ('ENTRY_TYPES',), ('ETHNICITY_TRIBE_CODES',), ('EVENTS_ADDR',), ('EVENTS_DATA',), ('EVENT_CODES',), ('EXTANT_CODES',), ('ForeignKeys',), ('FormLabels',), ('GANZHI_CODES',), ('HOUSEHOLD_STATUS_CODES',), ('INDEXYEAR_TYPE_CODES',), ('KINSHIP_CODES',), ('KIN_DATA',), ('KIN_Mourning',), ('KIN_MOURNING_STEPS',), ('LITERARYGENRE_CODES',), ('MEASURE_CODES',), ('NIAN_HAO',), ('OCCASION_CODES',), ('OFFICE_CATEGORIES',), ('OFFICE_CODES',), ('OFFICE_CODES_CONVERSION',), ('OFFICE_CODE_TYPE_REL',), ('OFFICE_TYPE_TREE',), ('OFFICE_TYPE_TREE_backup',), ('PARENTAL_STATUS_CODES',), ('PLACE_CODES',), ('POSSESSION_ACT_CODES',), ('POSSESSION_ADDR',), ('POSSESSION_DATA',), ('POSTED_TO_ADDR_DATA',), ('POSTED_TO_OFFICE_DATA',), ('POSTING_DATA',), ('SCHOLARLYTOPIC_CODES',), ('SOCIAL_INSTITUTION_ADDR',), ('SOCIAL_INSTITUTION_ADDR_TYPES',), ('SOCIAL_INSTITUTION_ALTNAME_CODES',), ('SOCIAL_INSTITUTION_ALTNAME_DATA',), ('SOCIAL_INSTITUTION_CODES',), ('SOCIAL_INSTITUTION_CODES_CONVERSION',), ('SOCIAL_INSTITUTION_NAME_CODES',), ('SOCIAL_INSTITUTION_TYPES',), ('STATUS_CODES',), ('STATUS_CODE_TYPE_REL',), ('STATUS_DATA',), ('STATUS_TYPES',), ('TablesFields',), ('TablesFieldsChanges',), ('TEXT_BIBLCAT_CODES',), ('TEXT_BIBLCAT_CODE_TYPE_REL',), ('TEXT_BIBLCAT_TYPES',), ('TEXT_CODES',), ('TEXT_INSTANCE_DATA',), ('TEXT_ROLE_CODES',), ('TEXT_TYPE',), ('TMP_INDEX_YEAR',), ('YEAR_RANGE_CODES',)]
Method 2 to show all table names:
('ADDRESSES',)
('ADDR_BELONGS_DATA',)
('ADDR_CODES',)
('ADDR_PLACE_DATA',)
('ADDR_XY',)
('ALTNAME_CODES',)
('ALTNAME_DATA',)
('APPOINTMENT_TYPE_CODES',)
('ASSOC_CODES',)
('ASSOC_CODE_TYPE_REL',)
('ASSOC_DATA',)
('ASSOC_TYPES',)
('ASSUME_OFFICE_CODES',)
('BIOG_ADDR_CODES',)
('BIOG_ADDR_DATA',)
('BIOG_INST_CODES',)
('BIOG_INST_DATA',)
('BIOG_MAIN',)
('BIOG_SOURCE_DATA',)
('BIOG_TEXT_DATA',)
('CHORONYM_CODES',)
('CopyMissingTables',)
('CopyTables',)
('CopyTablesDefault',)
('COUNTRY_CODES',)
('DATABASE_LINK_CODES',)
('DATABASE_LINK_DATA',)
('DYNASTIES',)
('ENTRY_CODES',)
('ENTRY_CODE_TYPE_REL',)
('ENTRY_DATA',)
('ENTRY_TYPES',)
('ETHNICITY_TRIBE_CODES',)
('EVENTS_ADDR',)
('EVENTS_DATA',)
('EVENT_CODES',)
('EXTANT_CODES',)
('ForeignKeys',)
('FormLabels',)
('GANZHI_CODES',)
('HOUSEHOLD_STATUS_CODES',)
('INDEXYEAR_TYPE_CODES',)
('KINSHIP_CODES',)
('KIN_DATA',)
('KIN_Mourning',)
('KIN_MOURNING_STEPS',)
('LITERARYGENRE_CODES',)
('MEASURE_CODES',)
('NIAN_HAO',)
('OCCASION_CODES',)
('OFFICE_CATEGORIES',)
('OFFICE_CODES',)
('OFFICE_CODES_CONVERSION',)
('OFFICE_CODE_TYPE_REL',)
('OFFICE_TYPE_TREE',)
('OFFICE_TYPE_TREE_backup',)
('PARENTAL_STATUS_CODES',)
('PLACE_CODES',)
('POSSESSION_ACT_CODES',)
('POSSESSION_ADDR',)
('POSSESSION_DATA',)
('POSTED_TO_ADDR_DATA',)
('POSTED_TO_OFFICE_DATA',)
('POSTING_DATA',)
('SCHOLARLYTOPIC_CODES',)
('SOCIAL_INSTITUTION_ADDR',)
('SOCIAL_INSTITUTION_ADDR_TYPES',)
('SOCIAL_INSTITUTION_ALTNAME_CODES',)
('SOCIAL_INSTITUTION_ALTNAME_DATA',)
('SOCIAL_INSTITUTION_CODES',)
('SOCIAL_INSTITUTION_CODES_CONVERSION',)
('SOCIAL_INSTITUTION_NAME_CODES',)
('SOCIAL_INSTITUTION_TYPES',)
('STATUS_CODES',)
('STATUS_CODE_TYPE_REL',)
('STATUS_DATA',)
('STATUS_TYPES',)
('TablesFields',)
('TablesFieldsChanges',)
('TEXT_BIBLCAT_CODES',)
('TEXT_BIBLCAT_CODE_TYPE_REL',)
('TEXT_BIBLCAT_TYPES',)
('TEXT_CODES',)
('TEXT_INSTANCE_DATA',)
('TEXT_ROLE_CODES',)
('TEXT_TYPE',)
('TMP_INDEX_YEAR',)
('YEAR_RANGE_CODES',)
Method 3 to show all table names:
[('ADDRESSES',), ('ADDR_BELONGS_DATA',), ('ADDR_CODES',), ('ADDR_PLACE_DATA',), ('ADDR_XY',), ('ALTNAME_CODES',), ('ALTNAME_DATA',), ('APPOINTMENT_TYPE_CODES',), ('ASSOC_CODES',), ('ASSOC_CODE_TYPE_REL',), ('ASSOC_DATA',), ('ASSOC_TYPES',), ('ASSUME_OFFICE_CODES',), ('BIOG_ADDR_CODES',), ('BIOG_ADDR_DATA',), ('BIOG_INST_CODES',), ('BIOG_INST_DATA',), ('BIOG_MAIN',), ('BIOG_SOURCE_DATA',), ('BIOG_TEXT_DATA',), ('CHORONYM_CODES',), ('CopyMissingTables',), ('CopyTables',), ('CopyTablesDefault',), ('COUNTRY_CODES',), ('DATABASE_LINK_CODES',), ('DATABASE_LINK_DATA',), ('DYNASTIES',), ('ENTRY_CODES',), ('ENTRY_CODE_TYPE_REL',), ('ENTRY_DATA',), ('ENTRY_TYPES',), ('ETHNICITY_TRIBE_CODES',), ('EVENTS_ADDR',), ('EVENTS_DATA',), ('EVENT_CODES',), ('EXTANT_CODES',), ('ForeignKeys',), ('FormLabels',), ('GANZHI_CODES',), ('HOUSEHOLD_STATUS_CODES',), ('INDEXYEAR_TYPE_CODES',), ('KINSHIP_CODES',), ('KIN_DATA',), ('KIN_Mourning',), ('KIN_MOURNING_STEPS',), ('LITERARYGENRE_CODES',), ('MEASURE_CODES',), ('NIAN_HAO',), ('OCCASION_CODES',), ('OFFICE_CATEGORIES',), ('OFFICE_CODES',), ('OFFICE_CODES_CONVERSION',), ('OFFICE_CODE_TYPE_REL',), ('OFFICE_TYPE_TREE',), ('OFFICE_TYPE_TREE_backup',), ('PARENTAL_STATUS_CODES',), ('PLACE_CODES',), ('POSSESSION_ACT_CODES',), ('POSSESSION_ADDR',), ('POSSESSION_DATA',), ('POSTED_TO_ADDR_DATA',), ('POSTED_TO_OFFICE_DATA',), ('POSTING_DATA',), ('SCHOLARLYTOPIC_CODES',), ('SOCIAL_INSTITUTION_ADDR',), ('SOCIAL_INSTITUTION_ADDR_TYPES',), ('SOCIAL_INSTITUTION_ALTNAME_CODES',), ('SOCIAL_INSTITUTION_ALTNAME_DATA',), ('SOCIAL_INSTITUTION_CODES',), ('SOCIAL_INSTITUTION_CODES_CONVERSION',), ('SOCIAL_INSTITUTION_NAME_CODES',), ('SOCIAL_INSTITUTION_TYPES',), ('STATUS_CODES',), ('STATUS_CODE_TYPE_REL',), ('STATUS_DATA',), ('STATUS_TYPES',), ('TablesFields',), ('TablesFieldsChanges',), ('TEXT_BIBLCAT_CODES',), ('TEXT_BIBLCAT_CODE_TYPE_REL',), ('TEXT_BIBLCAT_TYPES',), ('TEXT_CODES',), ('TEXT_INSTANCE_DATA',), ('TEXT_ROLE_CODES',), ('TEXT_TYPE',), ('TMP_INDEX_YEAR',), ('YEAR_RANGE_CODES',)]

In [3]:
# loading in modules
import sqlite3
import pandas as pd
import os

In [4]:
connection = sqlite3.connect('./latest.db')
df = pd.read_sql_query("SELECT * FROM ASSOC_DATA", connection)
connection.close()

In [5]:
df

,tts_sysno,c_assoc_code,c_personid,c_kin_code,c_kin_id,c_assoc_id,c_assoc_kin_code,c_assoc_kin_id,c_tertiary_personid,c_tertiary_type_notes,...,c_text_title,c_assoc_claimer_id,c_assoc_intercalary,c_assoc_month,c_assoc_day,c_assoc_day_gz,c_created_by,c_created_date,c_modified_by,c_modified_date
0,87881.0,-1,29876,0,0,30232,0,0,0.0,None,...,[n/a],0.0,0,NaN,NaN,NaN,TAUOS,20160711,Hongsu Wang,20201006
1,87882.0,-1,30232,0,0,29876,0,0,0.0,None,...,[n/a],0.0,0,NaN,NaN,NaN,TAUOS,20160711,Hongsu Wang,20201006
2,135180.0,0,28347,0,0,347742,0,0,0.0,None,...,[n/a],NaN,0,NaN,NaN,NaN,李铮,20210419,None,None
3,135268.0,0,29570,0,0,513215,0,0,0.0,None,...,[n/a],NaN,0,NaN,NaN,NaN,李铮,20210504,None,None
4,135342.0,0,30374,0,0,133466,0,0,0.0,None,...,[n/a],NaN,0,NaN,NaN,NaN,李铮,20210519,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161306,NaN,615,511491,0,0,61759,0,0,NaN,None,...,[n/a],NaN,0,NaN,NaN,NaN,load,20210311,,
161307,135505.0,634,59381,0,0,58944,0,0,0.0,None,...,[n/a],0.0,0,NaN,NaN,NaN,wangyining,20210720,None,None
161308,135506.0,635,58944,0,59381,59381,0,59381,0.0,None,...,[n/a],0.0,0,NaN,NaN,NaN,wangyining,20210720,None,None
161309,136088.0,636,211,0,22849,22849,0,22849,0.0,None,...,[n/a],0.0,0,NaN,NaN,NaN,Ning Hao,20211006,None,None
161310,136087.0,636,22849,0,0,211,0,0,0.0,None,...,[n/a],0.0,0,NaN,NaN,NaN,Ning Hao,20211006,None,None

In [5]:
def to_csv(database: str):
    db = sqlite3.connect(database=database)
    cursor = db.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    if not os.path.exists('./tables/'):
        os.makedirs('./tables/')
    for table_name in tables:
        table_name = table_name[0]
        table = pd.read_sql_query("SELECT * from %s" % table_name, db)
        table.to_csv(f'./tables/{table_name}.csv')
    cursor.close()
    db.close()
    
to_csv("./latest.db")

In [ ]:
def to_parquet(database: str):
    db = sqlite3.connect(database=database)
    cursor = db.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    if not os.path.exists('./parquet/'):
        os.makedirs('./parquet/')
    for table_name in tables:
        table_name = table_name[0]
        table = pd.read_sql_query("SELECT * from %s" % table_name, db)
        table.to_parquet(f'./parquet/{table_name}.parq')
    cursor.close()
    db.close()
    
to_parquet("./latest.db")